{% load group_checker %}

{% block navigation %}
	<nav class="bg-blue-500 p-4 text-white">
		<div class="max-w-4xl mx-auto flex justify-between items-center">
			<a href="{% url 'blog:post_list' %}" class="text-xl font-semibold">Blog</a>
			<div>
				{% if user|is_maintainer %}
					<a href="{% url 'blog:post_create' %}" class="text-white hover:text-blue-200">Přidat Příspěvek</a>
					<a href="{% url 'blog:category_list' %}" class="ml-3 text-white hover:text-blue-200">Kategorie</a>
				{% endif %}
			</div>
		</div>
	</nav>
	<div class="text-right p-3">
		<a href="{% url 'crossroad:index' %}" class="text-right text-blue-700 hover:text-blue-900 font-semibold">Zpět</a>
	</div>
{% endblock %}
