{% extends 'base.html' %}

{% block navigation %}
	{% include './blog_navigation.html' %}
{% endblock %}

{% block title %}
{% if category %}Upravit{% else %}Přidat{% endif %} kategorii
{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-6 text-center">
	{% if category %}Upravit{% else %}Přidat{% endif %} kategorii
</h1>
{% if category %}
    <p class="text-center text-lg text-gray-700">
        Nyní upravuješ kategorii <strong class="font-bold text-blue-600">{{ category.name }}</strong>
    </p>
{% endif %}

<form method="post" class="space-y-4">
	{% csrf_token %}
	{{ form }}
	<button type="submit"
		class="w-full py-2 px-4 mt-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 transition-colors">
		{% if category %}Upravit{% else %}Přidat{% endif %} kategorii
	</button>
</form>

<div class="mt-4 text-center">
	<a href="{% url 'blog:category_list' %}" class="text-blue-500 hover:text-blue-700 transition-colors">
		Zpět na seznam kategorií
	</a>
</div>

{% endblock %}
