{% extends 'base.html' %}

{% block navigation %}
	{% include './navigation.html' %}
{% endblock %}

{% block content %}
<h1 class="text-3xl font-semibold text-gray-900 mb-6">Rozcestník</h1>
<ul class="space-y-4">
	<li>
		<a href="{% url 'hello_world:index' %}" class="text-lg text-blue-500 hover:text-blue-700 transition duration-300">HelloWorld</a>
	</li>
	<li>
		<a href="{% url 'habit_tracker_1:index' %}" class="text-lg text-blue-500 hover:text-blue-700 transition duration-300">Habit Tracker 1</a>
	</li>
	<li>
		<a href="{% url 'habit_tracker_2:index' %}" class="text-lg text-blue-500 hover:text-blue-700 transition duration-300">Habit Tracker 2</a>
	</li>
	<li>
		<a href="{% url 'blog:post_list' %}" class="text-lg text-blue-500 hover:text-blue-700 transition duration-300">Blog</a>
	</li>
	<li>
		<a href="{% url 'birthday:birthday_list' %}" class="text-lg text-blue-500 hover:text-blue-700 transition duration-300">Birthday</a>
	</li>
	<li>
		<a href="{% url 'chat:room' %}" class="text-lg text-blue-500 hover:text-blue-700 transition duration-300">Chat Room</a>
	</li>
</ul>
{% endblock %}
